---
layout: default
title: Cohorts
---
<h1>Cohorts</h1>

{% for cohort in site.data.cohorts.items %}
  {% assign course = site.data.courses.items | where: "code", cohort.course | first %}
  <h2>{{ cohort.name }}</h2>
  <p class="sub">COHORT NAME</p>
  <h4>{{ cohort.code }}</h3>
  <p class="sub">COHORT SHORTCODE</p>
  <h4>{{ course.name }}</h3>
  <p class="sub">COURSE USED FOR COHORT</p>
  <p>{{ cohort.description | markdownify }}</p>
  <h3>Students</h3>
  <table>
    <thead>
      <th><span class="vertical-rl">Learner</span></th>
      {% for flag in course.flags %}
        <th><span class="vertical-rl box-col">{{ flag.name }}</span></th>
      {% endfor %}
    </thead>
    {% assign learners = site.learners | where: "cohort", cohort.code %}
    {% for learner in learners %}
    <tr>
      <td><a href="{{ learner.url | relative_url }}">{{learner.name}}</a></td>
      {% for flag in course.flags %}
        {% assign ilp-entry = learner.ilp-entries | where: "flag", flag.code | first %}
        {% if ilp-entry %}
          <td class="{{ ilp-entry.flag-value }}">■</td>
        {% else %}
          <td class="incomplete">■</td>
        {% endif %}        
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <p>---</p>
{% endfor %}
</ul>