$background: #101;
$text: #eee;
$link: teal;
$active_link: aquamarine;
$header_font: 'Roboto Slab', serif;
$body_font: 'Roboto Condensed', sans-serif;

h1, h2, h3, h4 {
  font-family: $header_font;
}
a {
  color: $link;
}
a.current {
  color: $active_link;
}

body {
  display: flex;
  flex-direction: row;

  background-color: $background;
  color: $text;
  font-family: $body_font;
}

nav {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

td, th {
  text-align: center;
}

.sub { color: grey; }
h1 + .sub { margin-top: -1.5rem; }
h3 + .sub { margin-top: -1.1rem; }
.incomplete { color: red; }
.in_progress { color: yellow; }
.complete { color: green; }
.vertical-rl { writing-mode: vertical-rl; }
.box-col { min-width: 1.5em; min-height: 10em }