---
layout: default
---
{% assign cohort = site.data.cohorts.items | where: "code", page.cohort | first %}
{% assign course = site.data.courses.items | where: "code", cohort.course | first %}

<h1>{{ page.name }} </h1>
<p class="sub">LEARNER</p>

<h3>{{ cohort.name }}</h3>
<p class="sub">COHORT</p>

<h3>{{ course.name }}</h3>
<p class="sub">COURSE</p>

<ul>
  <li>{{ page.cohort }}</li>
  <li>{{ page.name }}</li>
  <li>{{ page.date | date_to_string }}</li>

  <li>Languages exam status: {{ page.languages-exam-status }}</li>

  <!-- {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %} -->
</ul>

{{ content }}