---
layout: default
---
{% assign cohort = site.cohorts | where: "code", page.cohort | first %}
{% assign course = site.courses | where: "code", cohort.course | first %}
{% assign last-ilp = page.ilp-entries | sort: 'date' | last %}

<h1>{{ page.name }} </h1>
<p class="sub">LEARNER</p>

<p class="sub">ILP last updated {{ last-ilp.date | date_to_string }}</p>

<h3>{{ cohort.name }}</h3>
<p class="sub">COHORT</p>

<h3>{{ course.name }}</h3>
<p class="sub">COURSE</p>

<h4>{{ page.email }}</h4>
<p class="sub">EMAIL</p>

<h4>{{ page.phone }}</h4>
<p class="sub">PHONE</p>

<h4>{{ page.uln }}</h4>
<p class="sub">ULN</p>

<h4>{{ page.line-manager.name }} ({{ page.line-manager.email }})</h4>
<p class="sub">LINE MANAGER</p>

<h2>Summary</h2>
<table>
  <thead>
    {% for flag in course.flags %}
      <th><span class="vertical-rl box-col">{{ flag.name }}</span></th>
    {% endfor %}
  </thead>
  <tr>
    {% for flag in course.flags %}
      {% assign ilp-entry = page.ilp-entries | where: "flag", flag.code | first %}
      {% if ilp-entry %}
        <td class="{{ ilp-entry.flag-value }}">■</td>
      {% else %}
        <td class="incomplete">■</td>
      {% endif %}        
    {% endfor %}
  </tr>
</table>

<h2>Entries</h2>
{% for ilp-entry in page.ilp-entries %}
  <h3>{{ ilp-entry.title }}</h3>
  {% assign flag = course.flags | where: 'code', ilp-entry.flag | first %}
  <p class="sub">{{ ilp-entry.date | date_to_string }}</p>
  {% if flag %}
  <p class="sub">Entry sets '{{ flag.name }}' to '{{ ilp-entry.flag-value }}' </p>
  <div class="desc">{{ ilp-entry.description | markdownify }}</div>
  {% endif %}
  <p>---</p>
  
{% endfor %}

{{ content }}